---
layout: default
css: ['sidebar-post-nav.css']
---
{% include jumbotron.html %}
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="row">

        {% if page.no-post-nav %}
        <div class="col-md-12 markdown-body">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block; text-align:center;"
                 data-ad-layout="in-article"
                 data-ad-format="fluid"
                 data-ad-client="ca-pub-8342011714552961"
                 data-ad-slot="1574473453"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {{ content }}

            <!-- copyright -->
            {% include copyright.html %}
            <!-- Comments -->
      
           <div class="comment">
             {% include comments.html %}
           </div>

        </div>
        {% else %}
        <div class="col-md-9 markdown-body">

            {{ content }}

            <!-- copyright -->
            {% include copyright.html %}
            <!-- Comments -->
          <div class="comment">
             {% include comments.html %}
           </div>
        </div>

        <div class="col-md-3">
            {% include sidebar-post-nav.html %}
        </div>
        {% endif %}

    </div>

</article>
